#introductionCarousel {
  width: 100%; /* Full width of the parent container */
  height: 500px; /* Adjust the height as needed */
}

.carousel-inner {
  position: relative;
  height: 70vh; /* Adjust height as needed */
}

.carousel-item {
  height: 100%; /* Ensures it fills the container */
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-caption .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* Featured */

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h2.text-center {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #333;
}

/* Card Styles */
.card-cover {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.card-cover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-cover h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.card-cover p {
  font-size: 1rem;
  color: #fff;
}

.card-cover ul {
  margin-top: auto;
}

.card-cover ul li {
  color: #fff;
  font-size: 0.875rem;
}

.card-cover .bi {
  font-size: 32px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card-header {
  font-size: 1.5rem;
}

.card-cover .d-flex {
  z-index: 2;
}

.text-shadow-1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Categories */

/* General image styling for the feature icons */
.feature-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the space while maintaining aspect ratio */
  border-radius: 0.375rem; /* Rounded corners for the image */
}

.feature-image:hover {
  opacity: 0.85; /* Slight opacity change on hover */
  transition: opacity 0.3s ease;
}

/* Styling for the feature-icon-small container */
.feature-icon-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color, #007bff);
  background-image: linear-gradient(to right, #00f, #007bff);
  font-size: 1.25rem;
  border-radius: 0.375rem;
  padding: 10px;
}
